<div class="prospect">
  <h2>New Prospect</h2>

  <div>
    <a href="/prospects/new">
      <h3>Learn More</h3>
    </a>
  </div>
</div>

<div class="current">
  <div>
    <h2>Current Player</h2>
  </div>
  <div>
    <p>Under Construction</p>
  </div>
</div>