<fieldset>
  <form name="prospect" method="get" action="/prospect/new">
    <h2>Prospect Information</h2>

    <p><label for="first_name">First Name:</label>
      <input type="text" id="first_name"></p>

    <p><label for="last_name">Last Name:</label>
      <input type="text" id="last_name"></p>

    <p><label for="phone1">Phone</label>
      <input type="tel" name="phone1"></p>

    <p><label for="email">Email</label>
      <input type="email" name="email"></p>

    <p><label for="select_grade">Current Grade:</label>
      <select name="graduation_year">
        <optgroup label="Graduation Year">
          <option value="2017">Freshman - 2017</option>
          <option value="2016">Sophmore - 2016</option>
          <option value="2015">Junior - 2015</option>
          <option value="2014">Senior - 2014</option>
        </optgroup>
      </select>

    <p><label for="driver_license">Driver's License Status:</label>
      <select name="drivers_license">
        <option value="drivers license">I have a driver's license</option>
        <option value="drivers permit">I have a driver's permit</option>
        <option value="none">I DO NOT have a driver's license5</option>
      </select></p>

    <p><label for="jersey_size">Jersey Size:</label>
      <select name="jersey_size">
        <option value="s">Small</option>
        <option value="m">Medium</option>
        <option value="l">Large</option>
        <option value="xl">Extra Large</option>
      </select></p>

    <p><label for="shorts_size">Shorts Size:</label>
      <select name="shorts_size">
        <option value="s">Small</option>
        <option value="m">Medium</option>
        <option value="l">Large</option>
        <option value="xl">Extra Large</option>
      </select></p>

    <p><label for="notes">Additional informatin we should know:</label>
      <textarea name="notes"></textarea></p>

    <h2>Parent Information</h2>

    <p><label for="first_name">First Name</label>
      <input type="text" name="first_name"></p>

    <p><label for="last_name">Last Name</label>
      <input type="text" name="last_name"></p>

    <p><label for="phone">Phone</label>
      <input type="tel" name="phone1"/></p>

    <p><label for="email">Email</label>
      <input type="email" name="email"/></p>

    <p><input type="reset" value="Reset"/> <input type="submit" value="Send!"/></p>
  </form>
</fieldset>