@charset "utf-8";

@import "bourbon";
@import "bitters/bitters";
/* Bitters needs to be imported before Neat */
@import "bitters/grid-settings";
@import "neat";

body {
  font-family: $verdana;
  background-color: LightSeaGreen;
}

header {
  color: #FFF;
  padding: 1px 10px;
  font-size: 24px;
  font-weight: bold;
  @include linear-gradient(Gold, DarkGoldenrod);
  @include box-shadow(0 0 6px 3px Gold);
}

.body {
  min-height: 500px
}

.container {
  @include outer-container();
}

.current {
  @include box-sizing(border-box);
  background-color: Turquoise;
}

a {
  color: #2D6DD2;
}

footer {
  @include linear-gradient(DarkGoldenrod, Gold);
  overflow: hidden;
  padding: 1em 0;
}

footer section {
  width: 30%;
  float: left;
  padding: 1em;
  height: 100%;
  @include linear-gradient(Gold, DarkGoldenrod);
}

footer section + section {
  margin-left: 1em;
}
