<!DOCTYPE html>
<html>
<head>
  <title>Mohi</title>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700'
        rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="container">
    <h1>MoHi Ultimate</h1>
  </div>
</header>

<nav>
  <div class="container">
  </div>
</nav>

<div class="body">
  <div class="container">

    <%= yield %>

  </div>
</div>

<footer>

</footer>
</body>
</html>
